.heading-one {
    text-align: center;
    color: burlywood;
    font-family: "Times New Roman", serif;
    font-size: 30px;
}

.heading-two {
    text-align: left;
    color: brown;
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ingredients {
    font-style: italic;
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}