.heading-one {
    text-align: center;
    color: burlywood;
    font-size: 30px;
}

.heading-two {
    text-align: center;
    color: yellow;
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}